<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Styles/Scriptures.css" rel="stylesheet" type="text/css" /> 
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>My Scripture Journal</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; @DateTime.Now.Year My Scripture Site
    </footer>
</body>
</html>
