@{
    Layout = "~/_Layout.cshtml";
   
    var db = Database.Open("MyScriptureJournal");
    var selectCommand = "SELECT * FROM Scriptures";
    var searchTerm = "";

    if (!Request.QueryString["searchBook"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Scriptures WHERE Book LIKE @0";
        searchTerm = Request.QueryString["searchBook"];
    }
    if (!Request.QueryString["searchKeyword"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Scriptures WHERE Notes LIKE @0";
        searchTerm = "%" + Request["searchKeyword"] + "%";
    }
    else
    {
        Validation.RequireField("searchKeyword", "No search data entered.");
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Book", rowsPerPage: 5);

 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Scripture Journal</title>
    @Html.ValidationSummary()
</head>
<body>
    <h1>Scriptures</h1>
    <form method="get">
        <section>
            <label for="searchBook">Book to search for:</label>
            <input type="text" name="searchBook" value="" />
            <input type="Submit" value="Search Book" />
            (Blank for all books.)<br />
        </section>
        <section>
            <label for="SearchKeyword">Search Notes by Key word:</label>
            <input type="text" name="searchKeyword" value="" />
            <input type="Submit" value="Search Keyword" /><br />
        </section>
    </form>
    <main>
        @grid.GetHtml(
                   tableStyle: "grid",
                   headerStyle: "head",
                   alternatingRowStyle: "alt",
                   columns: grid.Columns(
                         grid.Column("Book"),
                         grid.Column("Chapter", canSort: false),
                         grid.Column("Verse", canSort: false),
                         grid.Column("Notes", canSort: false),
                         grid.Column("DateAdded"),
                         grid.Column(format: @<a href="~/EditScripture?id=@item.ID">Edit</a>),
                         grid.Column(format: @<a href="~/DeleteScripture?id=@item.ID">Delete</a>)))
    </main>
    <p>
        <a href="~/AddScripture">Add a Scripture</a>
    </p>
</body>
</html>
